html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  cursor: crosshair;
  overflow: hidden; /* Hide scrollbars */
  color: #1c1c1d;
}

label {
  position: relative;
  top: 10%;
}

label svg {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  color: #393838;
  transition: color 0.2s;
  left: 1rem;
}

label:focus-within svg {
  color: #413f3f;
}

label input {
  font-family: inherit;
  font-size: 1.2rem;
  color: #413f3f;

  background: rgba(245, 248, 255, 0.025);
  padding: 1rem 1.4rem 1rem 3.2rem;
  min-width: 12rem;

  outline: none;
  border: 0.15rem solid transparent;
  border-color: #39383867;
  border-radius: 0.4rem;

  transition: border-color 0.2s, box-shadow 0.2s;
  cursor: crosshair;
  background-color: #2c2c2c8c;
}

label:hover input {
  border-color: rgba(245, 248, 255, 0.02);
}

label input::placeholder {
  color: #393838;
  user-select: none;
}

label input:focus {
  border-color: #393838;
  box-shadow: 0 0 0 0.4rem rgba(44, 44, 44, 0.15);
}

input {
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}

input::selection {
  background-color: transparent; /* Remove o fundo azul */
  color: inherit; /* Mantém a cor do texto original */
}

#suggestions {
    position: absolute;
    left: 23px;
    width: 85%;
    max-height: 50px;
    overflow-y: auto;
    border: 1px solid #ffffff1e;
    border-top: none;
    border-radius: 0 0 5px 5px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    font-size: 1rem;
    color: #f5f8ff;
    padding: 1px 1px 1px 1px;
    min-width: 12rem;
  
    outline: none;
    border: 0.15rem solid transparent;
    border-radius: 0.4rem;
  
    transition: border-color 0.2s, box-shadow 0.2s;

    opacity: 0; /* Inicialmente invisível */
    transform: translateY(-10px); /* Começa um pouco acima */
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: none; /* Mantém o display none para evitar interações iniciais */
    cursor: crosshair;
}

#suggestions.visible {
    opacity: 1; /* Torna visível */
    transform: translateY(0); /* Move para a posição correta */
}

#suggestions li {
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    animation: ease-in 0.3s;
    font-family: inherit;
    font-family: Arial, Helvetica, sans-serif;
    color: #413f3f;
    background-color: #f5f8ff06;
    transition: border-color 0.2s, box-shadow 0.2s;
    outline: none;
    border: 0.15rem solid transparent;
    border-radius: 0.4rem;
    cursor: crosshair;
    border-color: #393838;
    transition: ease-in 0.3s;
}

#suggestions li:hover {
  background-color: #1b1b1b06;
  transition: border-color 0.2s, box-shadow 0.2s;
  transition: ease-in 0.3s;
}

.search-container {
  cursor: crosshair;
}

#searchbar {
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-container .i {
  color: whitesmoke;
}

/* Animação para o brilho da bolinha */
@keyframes brilho {
  0% {
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 10px 3px rgba(17, 17, 17, 0.6);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
  box-shadow: 0 0 10px 3px rgba(17, 17, 17, 0.6); /* Efeito de brilho */
  }
}

/* UBUNTU COISAS */

#containerterminal {  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  height: 50vh;
} 
#terminal {  
  width: 70vw;  
  height: 65vh;
  background-color: rgba(27, 27, 27, 0.315);
  border-radius: 10px;
} 
#terminal__bar {  
  display: flex;  
  width: 100%;  
  height: 30px;  
  align-items: center;  
  padding: 0 8px;  
  box-sizing: border-box;  
  border-top-left-radius: 5px;  
  border-top-right-radius: 5px;  
  background: linear-gradient(#504b45 0%,#3c3b37 100%);
  text-shadow: rgba(19, 21, 22, 0.8) 0px 1px 0px;
  background-color: rgb(23, 25, 26);
  background-image: -webkit-linear-gradient(top, rgb(32, 36, 38), rgb(59, 64, 67));
  box-shadow: rgba(184, 184, 184, 0.7) 0px 1px 1px inset;
  border-bottom-color: rgb(104, 97, 84);
} 

#bar__buttons {  
  display: flex;  
  align-items: center;
  cursor: crosshair;
} 
.bar__button {  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  padding: 0;  
  margin-right: 5px;  
  font-size: 8px;  
  height: 12px;  
  width: 12px;  
  box-sizing: border-box;  
  border: none;  
  border-radius: 100%;  
  background: linear-gradient(#7d7871 0%, #595953 100%);  
  text-shadow: 0px 1px 0px rgba(255,255,255,0.2);  
  box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
  cursor: crosshair;
}
.bar__button:focus {  
  outline: none;
}
#bar__button--exit {  
  background: linear-gradient(#f37458 0%, #de4c12 100%);    
  background-clip: padding-box;
} 
#bar__user {   
  color: #d5d0ce;  
  margin-left: 6px;  
  font-size: 14px;  
  line-height: 15px;
} 
#terminal__body {  
  background: rgba(8, 8, 8, 0.185);   
  font-family: 'Ubuntu Mono';  
  height: calc(100% - 30px);  
  padding-top: 2px;  
  margin-top: -1px;
  border-radius: 0 0 5px 5px; /* Arredonda apenas os cantos inferiores */
} 
#terminal__prompt {  
  display: flex;
}
#terminal__prompt--user {  
  margin-top: 13px;
  color: #7eda28;
}
#terminal__prompt--location { 
  margin-top: 13px;
  color: #4878c0;
}
#terminal__prompt--bling { 
  margin-top: 13px;
  color: #dddddd;
}
#terminal__prompt--cursor {  
  display: block;  
  height: 17px;  
  width: 8px;  
  margin-left: 1px;  
  margin-top: 13px;
  animation: blink 1200ms linear infinite;
  border-radius: 0px;
} 
@keyframes blink {  
  0% {    
    background: rgba(255, 255, 255, 0.384);  
  }  
  49% {    
    background: #ffffff;  
  }  
  60% {    
    background: transparent;  
  }  
  99% {    
    background: transparent;  
  }  100% {    
    background: #ffffff70;  
  }
} 
@media (max-width: 600px) {  
  #containerterminal {    
    max-height: 90%;    
    width: 90%;  
  }
}

.verdetexto {
  position: relative;
  color: #7eda28de;
  padding-left: 5px;
  padding-top: 3px;
  font-size: 14px; 
  font-family: 'Ubuntu Mono'; 
  outline: none;
}

/* .verdetexto span {
  font-family: Arial, Helvetica, sans-serif;
} */