html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #050a11;
  cursor: none;
}

 label {
  position: relative;
}

label svg {
  position: relative;
  top: 20%;

  transform: translateY(-50%);
  color: #393838;
  transition: color 0.2s;
  left: 3rem;
  top: 1rem;
}

label:focus-within svg {
  color: #f5f8ff;
}

label input {
  font-family: inherit;
  font-size: 1.2rem;
  color: #f5f8ff;

  background: rgba(245, 248, 255, 0.025);
  padding: 1rem 1.4rem 1rem 3.2rem;
  min-width: 12rem;

  outline: none;
  border: 0.15rem solid transparent;
  border-radius: 0.4rem;
  cursor: none;

  transition: border-color 0.2s, box-shadow 0.2s;
}

label:hover input {
  border-color: rgba(245, 248, 255, 0.02);
  box-shadow: #050a11;
}

label input::placeholder {
  color: #393838;
  user-select: none;
}

label input:focus {
  border-color: #393838;
  box-shadow: 0 0 0 0.4rem rgba(37, 37, 37, 0.15);
}

input {
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}

#suggestions {
    position: absolute;
    left: 40px;
    width: 85%;
    max-height: 50px;
    overflow-y: auto;
    border: 1px solid #ffffff1e;
    border-top: none;
    border-radius: 0 0 5px 5px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    font-size: 1rem;
    color: #f5f8ff;
  
    background: rgba(245, 248, 255, 0.025);
    padding: 1px 1px 1px 1px;
    min-width: 12rem;
  
    outline: none;
    border: 0.15rem solid transparent;
    border-radius: 0.4rem;
  
    transition: border-color 0.2s, box-shadow 0.2s;

    opacity: 0; /* Inicialmente invisível */
    transform: translateY(-10px); /* Começa um pouco acima */
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: none; /* Mantém o display none para evitar interações iniciais */
}

#suggestions.visible {
    opacity: 1; /* Torna visível */
    transform: translateY(0); /* Move para a posição correta */
}

#suggestions li {
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    animation: ease-in 0.3s;
    font-family: inherit;
    font-family: Arial, Helvetica, sans-serif;
    color: #f5f8ff;
  
    background: rgba(245, 248, 255, 0.025);
    outline: none;
    border: 0.1rem solid transparent;
    border-radius: 0.4rem;
    transition: border-color 0.2s, box-shadow 0.2s;
}

#suggestions li:hover {
    background-color: rgba(245, 248, 255, 0.025);
    transition: border-color 0.2s, box-shadow 0.2s;
}

#searchbar {
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Estilos para o cursor */
.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #00000065; /* Cor da bolinha */
  border-radius: 50%; /* Forma circular */
  pointer-events: none; /* Impede que o cursor interaja com outros elementos */
  transform: translate(-50%, -50%);
  animation: brilho 1.5s infinite alternate; /* Animação de brilho */
  box-shadow: 0 0 10px 3px rgba(17, 17, 17, 0.6); /* Efeito de brilho */
}

/* Animação para o brilho da bolinha */
@keyframes brilho {
  0% {
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 10px 3px rgba(17, 17, 17, 0.6);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    box-shadow: 0 0 20px 6px rgb(39, 39, 39);
  }
}